<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{title}} </title>
    <link rel="stylesheet" hrefs="/css/main.css">
</head>
<body>
    {{navbar}}
    <div class="layoutBody">
        {{{body}}}
    </div>
</body>
</html>