.prof-row {
    display: flex;
}

.prof-container {
    width: 250px;
    height: 350px;
    margin: 5px;
    border: 3px solid var(--green1);
    border-radius: 5%;
    opacity: 100%;
}

/*
.prof-image {
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
*/

.prof-image-container {
    position: relative;
}

.prof-image {
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    opacity: 0;
    background-color: var(--gray2);
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 50%;
}

.prof-image-container:hover .image-overlay {
    opacity: 75%;
    cursor: pointer;
  }

.overlay-text {
    color: var(--green1);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



.prof-namebar {
    background-color: var(--green1);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--white1);
    text-align: center;
}

.prof-info {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}

.prof-creds {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

.prof-rating-container {
    background-color: var(--green1);
    border-radius: 25%;
    width: 20%;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--yellow1);
    text-align: center;
}

.collegeButton {
    background-color: var(--green1);
    margin-top: 10px;
    border: none;
    color: var(--white1);
    text-align: center;
    text-decoration: none;
    width: 1000px;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    padding: 5px;
    cursor: pointer;
    opacity: 100%;
    border-radius: 10px 10px 10px 10px;
}

.showProfsBtn {
    background-color: var(--green1);
    margin-top: 10px;
    border: none;
    color: var(--white1);
    text-align: center;
    text-decoration: none;
    width: 1000px;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    padding: 5px;
    cursor: pointer;
    opacity: 100%;
    border-radius: 10px 10px 10px 10px;
}

.showProfsBtn:hover {
    opacity: 75%;

}