<link rel="stylesheet" href="/css/navbar.css">
<div class="navbar">
    <div class="navbar-contents">
        <a href="index.html"><button class="navbar-buttons">Home</button></a>
        <a href="pages/profs2.html" target="_blank"><button class="navbar-buttons">Profs</button></a>
        <a href="pages/courses.html" target="_blank"><button class="navbar-buttons">Courses</button></a>
        <button class="navbar-loginregister">Login/Register</button>
    </div>
</div>