<!-- all views will be rendered here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{title}} </title>
    <link rel="stylesheet" hrefs="/css/main.css">
</head>
<body>
    {{>logo}}
    {{>navbar}}
    <div class="layoutBody">
        {{{body}}}
    </div>
</body>
</html>