#course-table{
    border: 5px solid var(--green1);
    border-collapse: collapse;
    height: auto;
    width: 100%;
}

#course-table tr {
    text-align: left;
    background-color: var(--white1);
}

#course-table td{
    border: 2px solid var(--green1);
    padding: 5px;
    text-align: center;
  }

#course-table th {
    background-color: var(--green1);
    color: var(--white1);
    font-size: 22px;
    text-align: center;
}

.course-abbrev {
    margin: 0 auto;
}

.searchBarContainer {
    background-color: var(--green1);
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
}

.searchInputContainer {
    display: inline-block;
}

.filterInput {
    width: 250px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 3px solid var(--white1);
    border-radius: 4px;
}

.courseButton {
    background-color: var(--green1);
    margin-top: 10px;
    border: none;
    color: var(--white1);
    text-align: center;
    text-decoration: none;
    width: 1000px;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    padding: 5px;
    cursor: pointer;
    opacity: 100%;
    border-radius: 10px 10px 10px 10px;
}

.courseCodeBtn {
    background-color: var(--green1);
    border: none;
    color: var(--white1);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    padding: 5px;
    cursor: pointer;
    opacity: 100%;
    border-radius: 10px 10px 10px 10px;
}

input[type=text]{
    width: 500px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }