<!DOCTYPE html>
<html lang="en">
<head>
    <title>DLSU | Prof To Pick</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
</head>
<body>
    <div class="header-logo">
        <!-- Append LOGO.png here: `<img src="public/LOGO.png" alt="DLSU PROF TO PICK LOGO">` -->
    </div>
    
    <div class="navbar">
        <!-- Append navbar contents here -->
    </div>

    <!-- Login/Signup Page Pop up-->
    <div class="loginContainer">
        <!-- Append Login Box contents here -->
    </div>

    <!-- The main content, which changes upon switching pages -->
    <div class="content">
        <!-- Signed out message -->
        <!-- Right side bar -->
        
        <div class="mainpage">
            <!--
                For Homepage .mainpage Contents: 
                    > .reviewContainer

                    > div (unnamed):
                        > .new-review-headline
                        > #edit-review
                        > .newReviewContainer

                    > .coursesContainer

                    > .searchContainer
                
                For Courses page Contents:
                    >

                For Profs page Contents:
                    >
            -->
        </div>
    </div>
</body>
</html>